<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="framework.Hybrid.Listeners"/>
</listeners>
 <!--  <test thread-count="5" name="Homepagetests">
    <classes>
      <class name="framework.Hybrid.HomePage"/>
      
    </classes>
  </test> 
  
  <test name="Logintests">
  <classes>
  <class name="framework.Hybrid.Loginpage"/>
  
  </classes>
  </test>-->
  <test name="Loginexcel">
  <classes>
  <class name="framework.Hybrid.Exceldatadriventest"/>
  
  </classes>
  </test>
 
</suite> 
